body {
    margin: 0;
    font-family: "Red Hat Display", sans-serif;
    color: #121212;
}
.heroContainer {
    background-image: url('/public/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.promoHeaderContainer {
    background: black;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 900;
}
.promoHeader {
    text-align: center;
    color: #EE0001;
    margin: 0;
}
.promoHeaderDesktop{
    display: none;
}

.heroImages {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
}
.clinicalyProven {
    width: 57px;
    padding-right: 4px;
}
.usaSells {
    display: flex;
    background: linear-gradient(to right, #0048B3, #1076FF);
    color: white;
    align-items: center;
    border-radius: 20px;
    height: 15px;
    padding: 0 2%;
}
.usaSells p {
    font-size: 8.4px;
    margin: 0;
    font-style: italic;
    font-weight: 500;
}
.usaFlag {
    height: fit-content;
    width: 15px;
    margin-right: 2px;
}

.homeContainer {
    display: flex;
    justify-content: center;
}
.productImage {
    height: 240px;
    position: absolute;
    left: 20px;
    top: 85px;
}
.sayByeContainer {
    position: absolute;
    left: 30%;
    top: 111px;
}
.sayBye{
    font-size: 36px;
    font-weight: 900; 
    margin: -5px 0;
}
.red {
    color: #EE0001;
}
.solutionText{
    font-size: 14px;
    font-weight: 800;
    color: white;
    background-color: #EE0001;
    margin-top: 125px;
    padding-left: 30%;
    height: 30px;
    display: flex;
    align-items: center;
}
.preSolutionText {
    display: none;
}
.secureLogo {
    position: absolute;
    top: 210px;
    left: 83%;
    width: 48px;
}
.itemContainer {
    padding-left: 30%;
    font-size: 14px;
}
.item {
    display: flex;
    align-items: center;
}
.item img {
    width: 12px;
    height: 12px;
}
.item p {
    font-weight: 600;
    margin: 0.1rem 0.5rem;
}

.afterBeforeContainer {
    display: flex;
    padding-top: 7vh;
    justify-content: space-between;
}
.afterBeforeContainer p {
    margin: 0.2rem;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
}
.beforeContainer {
    width: 48vw;
    height: 169.5px;
}
.beforeContainer img {
    width: 100%;
    height: 147px;
    object-fit: cover;
    height: 152px;
}

.tellUs {
    
    z-index: 2;
    position: relative;
    font-size: 16px;
    text-align: center;
    font-weight: 900;
    color: white;
    background: black;
    height: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputContainer {
    padding: 2vh 0;
}
.formContainer {
    text-align: center;
}
.inputHome {
    font-family: 'Red Hat Display';
    width: 88%;
    padding: 0 2.5%;
    height: 40px;
    margin: 1.5% 0;
    background-color: #F4F4F4;
    border: #E4E4E4 1px solid;
    border-radius: 5px;
    font-size: 14px;
    color: #656464;
}
.formButton {
    font-size: 20px;
    font-family: 'Red Hat Display';
    font-weight: 900;
    height: 55px;
    background: linear-gradient(to bottom, #EE0001, #D10001);
    color: white;
    text-align: center;
    border-image: linear-gradient(to top, #EE0001, #D10001) 2;
    width: 85vw;
    box-shadow: 0 4px 4px 0 rgba(0, 10, 31, 0.2);
}

.logosContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70vw;
    margin: 5vh auto;
}

.asSeen {
    display: flex;
    background: linear-gradient(to right, #0048B3, #1076FF);
    align-items: center;
    padding: 16px 10% 29.4px 10%;
    font-size: 14.1px;
    font-weight: 900;
    color: white;
    justify-content: space-evenly;
    width: 100%;
}
.gq {
    width: 28px;
}
.esquire {
    width: 86px;
}
.asSeen p{
    margin: 0;
}

.ciencia {
    font-size: 20px;
    font-weight: 900;
    width: 55vw;
    text-align: center;
    margin: auto;
    padding-top: 14vh;
}
.ciencia .red {
    font-weight: 900;
}
.productCiencia {
    width: 31%;
    transform: rotate(90deg); 
    margin-top: -80px;
    margin: -105px -27px -120px;
}
.card {
    border: #E0E0E0 2px solid;
    width: 90vw;
    margin: 7% auto;
}
.cardsHeader{
    background-color: #EE0001;
    font-size: 18px;
    color: white;
    font-weight: 700;
    width: 100%;
    padding: 4% 18% 4% 5%;
}
.cardContainer {
    display: flex;
    height: 165px;
    position: relative;
    line-height: normal;
}
.cardText {
    font-size: 14px;
    padding: 5%;
    height: fit-content;
    margin: 0;
    width: 69%;
    font-weight: 500;
}
.cardImage {
    width: 35%;
    position: absolute;
    top: -27px;
    height: fit-content;
    right: 10px;
    max-height: 200px;
}
.cardImageTwo {
    width: 38%;
    top: -20px;
}
.cartdImageThree{
    top: -38px;
    width: 38%;
}
.cardTextThree{
    width: 66%;
}
.cardImageFour {
    width: 56%;
    top: -16px;
    right: 5px;
}
.cartTextFour {
    width: 59%;
}

.reviews {
    font-size: 12px;
    text-align: center;
    color: #121212;
    font-weight: 600;
    opacity: 0.5;
    padding-top: 7vh;
}
.reviewsTitle{
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}
.carousel {
    padding-bottom: 10vh;
}
.cardReview{
    width: 90vw;
    box-shadow: 
    0 37px 10px 0 rgba(0, 0, 0, 0),
    0 24px 10px 0 rgba(0, 0, 0, 0.01),
    0 13px 8px 0 rgba(0, 0, 0, 0.05),
    0 6px 6px 0 rgba(0, 0, 0, 0.08),
    0 1px 3px 0 rgba(0, 0, 0, 0.09);
    margin: 16% 5% 5%;
}
.cardReviewText {
    padding: 0 10%;
    margin-top: -1.5rem;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    opacity: 0.7;
    line-height: 22px;
}
.reviewPhoto {
    width: 66px !important;
    height: 75px !important;
    margin: auto;
    position: relative;
    top: -37px;
}
.cardReviewFooter{
    padding: 0 10%;
    display: flex;
    background-color: #EE0001;
    color: white;
    font-size: 20px;
    font-weight: 600;
    align-items: baseline;
    justify-content: space-between;
    height: 50px;
    padding-top: 10px;
}
.carousel-indicators [data-bs-target] {
    width: 11px !important;
    height: 11px !important;
    border-radius: 50% !important;
    background-color: #EE0001;
    background-color: #E0E0E0;
    margin-right: 0px;
    margin-left: 5px;
    opacity: 1;
}
.carousel-indicators [data-bs-target].active {
    background-color: #EE0001;
}
.cardReviewFooter p {
    font-family: "Inter", sans-serif;
}
.JeremiahCard {
    display: flex;
    width: 40vw;
    height: 62px;
    border-radius: 10px;
    position: fixed;
    bottom: 30px;
    left: 8px;
    background-color: #fff;
    z-index: 5;
    box-shadow: 0 3.18px 15.9px 0 rgba(0, 0, 0, 0.25);
}
.JeremiahCard img {
    height: 135%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    object-fit: contain;
}
.JeremiahCardText {
    font-size: 11.13px;
    font-weight: 500;
    margin-bottom: 0.1rem;
    line-height: 110%;
    margin-top: 5%;
}
.JeremiahMinutes {
    color: #8F8F8F;
    font-size: 9.54px;
    margin: 0;
}
.JeremiahCardTextContainer {
    width: 70%;
    margin-left: 30%;
}
.secureLogoGroup{
    display: none;
}
@media(min-width: 1000px){
    .promoHeaderContainer {
        height: 48px;
        font-size: 18px;
    }
    .promoHeaderDesktop {
        display: block;
        margin: 0;
        color: white;
    }
    .promoHeader {
        margin: 0;
    }
    .heroContainer {
        background-image: url('/public/images/backgroundDesktop.png');
        background-position: center;
        height: 121vh;
    }
    .JeremiahCard {
        width: 10vw;
        height: 62px;
    }
    .productImageContainer{
        height: 121vh;
        position: absolute;
        left: -2px;
        top: 48px;
        width: 23vw;
        background: white;
        margin: 0;
        text-align: center;
        z-index: 2;
    }
    .productImage {
        height: 90vh;
        top: 100px;
        left: 21%;
    }
    .heroImages{
        justify-content: flex-start;
        padding-top: 5vh;
        margin-left: 27vw;
        width: 70vw;
    }
    .clinicalyProven {
        width: 100px;
    }
    .usaSells{
        height: 27px;
        padding: 0 1%;
    }
    .usaSells p{
        font-size: 14.6px;
    }
    .usaFlag {
        width: 28px;
        margin-right: 2px;
    }
    .sayByeContainer{
        z-index: 3;
        width: 34vw;
        margin: 0;
        transform: translate(-50%, -50%);
        top: 27%;
        left: 44%;
        margin-right: 25vw;

    }
    .sayBye {
        font-size: 70px;
        margin: -30px 1px;
    }
    .solutionText{
        padding-left: 10%;
        margin-left: 60.5%;
        width: 39%;
        font-size: 18px;
    }
    .preSolutionText {
        display: block;
        width: 21%;
        padding-left: 25.5%;
        background-color: #EE0001;
        margin-top: 125px;
        height: 30px;
        position: absolute;
    }
    .secureLogo {
        display: none;
    }
    .itemContainer{
        padding-left: 27vw;
        padding-top: 5vh;
    }
    .item img {
        width: 16px;
        height: 16px;
    }
    .item p {
        font-size: 18px;
    }
    .afterBeforeContainer{
        width: 30vw;
        margin-left: 27%;
        padding-top: 6vh;
    }
    .afterBeforeContainer p {
        font-size: 15.65px;
        margin: 0.5rem;
    }
    .beforeContainer{
        width: 48%;
    }
    .beforeContainer img {
        height: 190px;
    }
    .formContainer{
        width: 25vw;
        position: absolute;
        right: 10%;
        top: 46%;
        background: white;
        border: solid 2px #E0E0E0;
        border-bottom: none;
    }
    .formButton{
        width: 88%;
        margin: 0 5% 10%;
    }
    .secureLogoGroup{
        display: block;
    }
    .logosContainer{
        width: 30vw;
        margin: 0;
        position: absolute;
        top: 114vh;
        left: 27%;
    }
    .asSeen{
        padding: 17px 37% 17px 37%;
        z-index: 2;
        font-size: 20px;
        position: relative;
    }
    .gq {
        width: 40px;
    }
    .esquire {
        width: 122px;
    }
    .ciencia {
        font-size: 36px;
        padding-bottom: 10vh;
    }
    .productCiencia{
        width: 14%;
        transform: unset;
        margin: unset;
        position: absolute;
        left: 43%;
    }
    .card {
        width: 30vw;
        margin: 1%;
    }
    .cardGroupContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 89vw;
        margin: auto;
        justify-content: space-between;
        position: relative;
        top: 80px;
    }
    .cardContainer {
        height: 140px;
    }
    .cardImage {
        width: 36%;
        position: absolute;
        top: -140px;
        height: 245px;
        right: 10px;
        max-height: unset;
    }
    .cardsHeader {
        padding: 4% 33% 4% 5%;
    }
    .cardsHeaderOne {
        padding: 1% 41% 1% 5%;
    }
    .cardTextTwo {
        width: 62%; 
    }
    .cardImageTwo {
        width: 35%;
        top: -100px;
        height: 230px;
        right: 30px;
    }
    .cartdImageThree{
        top: -120px;
    }
    .cardImageFour{
        width: 40%;
        position: absolute;
        top: -53px;
        height: 180px;
    }
    .cartTextFour{
        width: 73%;
    }
    .reviews {
        text-align: left;
        padding-top: 40vh;
        font-size: 18px;
        margin-left: 6.5vw;
        margin-bottom: 2rem;
    }
    .reviewsTitle{
        font-size: 36px;
        text-align: left;
        margin-left: 6.5vw;
    }
    .cardReview{
        /* width: 30vw; */
    }
    .card:nth-child(1) {
        order: 1;
    }
    
    .card:nth-child(2) {
        order: 3;
    }
    
    .card:nth-child(3) {
        order: 2;
    }
    
    .card:nth-child(4) {
        order: 4;
    }
    .col-md-4 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media(min-width:1500px){
    .sayByeContainer{
        top: 33%;
        left: 45%;
    }
    .solutionText{
        margin-left: 60%;
        width: 40%;
    }
    .preSolutionText {
        padding-left: 26%;
        width: 26.5%;
    }
}